@using DoanComics.Models;
@using X.PagedList.Mvc.Core;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<Truyen>

@{
    ViewData["Title"] = "Truyen";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý truyện</h1>

<p>
    <a asp-action="ThemTruyen" class="btn btn-primary">Thêm mới truyện</a>
</p>
<div class="bg-light rounded h-100 p-4" style="margin-bottom:20px">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên truyện 
                    </th>
                    <th>
                        Bí danh
                    </th>
                    <th>
                        Lượt xem
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Nguồn
                    </th>
                    <th>
                        Hoạt động
                    </th>
                    <th>
                        Ngày đăng
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenTruyen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BiDanh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LuotXem)
                        </td>
                        <td>
                            @if (int.Parse(item.TrangThai.ToString())==0)
                            {
                                @Html.Raw("HT")
                            }
                            else
                            {
                                @Html.Raw("Chưa HT")
                            }
                            @*@Html.DisplayFor(modelItem => item.TrangThai)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nguon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoatDong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDang)
                        </td>
                        <td>
                            <a asp-action="SuaTruyen" asp-route-id="@item.Id">Sửa</a> |
                            <a asp-action="ChiTiet" asp-route-id="@item.Id">Chi tiết</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*<div>@Html.PagedListPager(Model, page=>Url.Action("Truyen", new{page=page}))</div>*@
@Html.PagedListPager(Model, page=>Url.Action("Truyen", new {page=page}), new
X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses=new List<String> {"page-item"},
    PageClasses=new List<String> {"page-link"}
})