@model DoanComics.Models.TruyenAndChuong

@{
	ViewData["Title"] = "Chi Tiet Truyen";
	Layout = "~/Views/Shared/_LayoutChiTietTruyenLoggedIn.cshtml";
}

<div class="container" style="padding-top:25px;color:black">
	<h3>@Html.DisplayFor(model => model.myTruyen.TenTruyen)</h3>
	<hr />
	<dl class="row">
		<div>
			<img class="img-fluid w-100" src="@Url.Content("../../assets/anhdaidien/"+Model.myTruyen.AnhDaiDien)" style="object-fit: cover;height:300px;width:205px!important">
		</div>
		<div style="padding-left:25px">
			<dd class="col-sm-12">
				Tác giả
			</dd>

			<dd class="col-sm-12">
				Tình trạng
			</dd>

			<dd class="col-sm-12">
				Thể loại
			</dd>

		</div>
		<div style="padding-left:35px">
			<dd class="col-sm-12">
				@{
					int i = 0;
					if (Model.myTacGias.Count > 0)
					{
						foreach (var item in Model.myTacGias)
						{
							i++;
							@item.TenTacGia;
							if (i < Model.myTacGias.Count)
							{
								<text> - </text>
							}
						}
					}
					else
					{
						@Html.Raw("Đang cập nhật")
						;
					}
				}
			</dd>
			<dd class="col-sm-12">
				@{
					if (Model.myTruyen.TrangThai == 1)
					{
						@Html.Raw("Đã hoàn thành");
					}
					else
					{
						@Html.Raw("Đang tiến hành")
						;
					}
				}
			</dd>
			<dd class="col-sm-12">
				@{
					i = 0;
					if (Model.myTheLoais.Count > 0)
					{
						foreach (var item in Model.myTheLoais)
						{
							i++;
							@item.TenTheLoai
							;
							if (i < Model.myTheLoais.Count)
							{
								<text> - </text>
							}
						}
					}
					else
					{
						@Html.Raw("Đang cập nhật");
					}
				}
			</dd>
		</div>
	</dl>
	<div>
		<form method="post">
			<button id="followBtn" type="submit" class="btn btn-success" asp-action="Follow" asp-controller="Home" asp-route-idtruyen="@Model.myTruyen.Id" asp-route-iduser="@TempData["idUser"]">Theo dõi</button>
		</form>
	</div>
	<div>
		<h2 style="border-bottom:2px solid black;padding-bottom:5px">Nội dung</h2>
		<p></p>
	</div>
	<div>
		<h2 style="border-bottom:2px solid black;padding-bottom:5px">Danh sách chương</h2>
		<table>
			<tr>
				<th>Số chương</th>
				<th>Cập nhật</th>
				<th>Lượt xem</th>
			</tr>
			@foreach (var item in Model.myChuong)
			{
				<tr>
					<td><a asp-controller="Home" asp-action="ChiTietChuong" asp-route-idChuong="@item.Id">@item.TenChuong</a></td>
					<td><a href="#">@item.HoatDong</a></td>
					<td><a href="#">@item.LuotXem</a></td>
				</tr>
			}
			<thead>
			</thead>
			<tbody id="dschuong">
			</tbody>
		</table>
	</div>
</div>


<div>
	@*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
	<a asp-action="Index">Trở về</a>
</div>
